body {
    background: #303030;
}

aside .navi_top {
    background: gray;
    color: red;
}

aside .logo {
    font-size: 30px;
}

aside a {
    font-size: 20px;
    padding: 10px
}

aside ul {list-style-type: none}

aside .navi {
    margin-left: 100px;
    background: red;
}